body {
    background-image: URL(../images/upfeathers.png);
    filter: grayscale(35%);
}

.heading {
    background-color: #2F0061;
    color: whitesmoke;
    font-style: bold;
    font-family: 'Kumar One Outline', cursive;
    border-style: hidden hidden solid hidden;
    border-width: 2%;
    border-color: darkgray;
    padding: 1%;
}

a:link {
    color: whitesmoke;
    font-family: 'Notable', sans-serif;
}

a:hover {
    color: darkgray;
    font-family: 'Notable', sans-serif;
}

a:visited {
    color: gray;
    font-family: 'Notable', sans-serif;
}

.container {
    background-color: whitesmoke;
    margin: 0% auto;
    padding: 1%;
    min-height: 100%;
    border-style: hidden double hidden double;
    border-width: 5%;
    border-color: darkgray;
    font-family: 'Nunito', sans-serif;
}

.big {
    color: #2F0061;
    font-family: 'Kumar One Outline', cursive;
    font-style: strong;
    padding: 1%;
    border-style: hidden hidden solid hidden;
    border-width: 1%;
    border-color: darkgray;
}

img {
    margin: 2%;
}

#portpic {
    max-width: 24rem;
}

.footer {
    background-color: #2F0061;
    color: whitesmoke;
    font-family: 'Kumar One Outline', cursive;
    border-style: solid hidden hidden hidden;
    border-width: 2%;
    border-color: darkgray;
    text-align: center;
    padding: 1%;
}

.contact-links {
    text-align: center;
}